
body {
    background-color:silver;
}
.navbar-brand {
    background-color: cadetblue;
    color: white !important;


}
 
.jumbotron {
    max-width: 900px;
    margin: 50px;
}

.form-control2 {
    height: 100px;
    width: 100%;
}
::placeholder {
    text-align: inherit;
}


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: grey;

}

.footer h2 {
    font-size: 20px;