
body {
    background-color:silver;
    
}
.navbar-brand {
    background-color: cadetblue;
    color: white !important;


}
 
.jumbotron {
    max-width: 900px;
    margin: 50px;
}
.jumbotron img {
    max-height: 201px;
    float: left !important ;s
}

.display-4 {
    color: cadetblue;
  
}

.form-control2 {
    height: 100px;
    width: 100%;
}

.second {
    padding: 20px;
}




::placeholder {
    text-align: inherit;
}

footer {
    text-align: center;
    background-color: gray;
    padding: 3px;
}