 * {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    /* background-image: url('./assests/Images/markus-spiske-iar-afB0QQw-unsplash.jpg'); */
 }

.navbar-light .navbar-brand{
    color: white !important;
}

.navbar-light .navbar-nav .nav-link{
    color: white !important;
}


 
.jumbotron {
    max-width: 900px;
    margin: 50px;
    
}
.jumbotron img {
    max-height: 201px;
    float: left !important ;
}

.portpic img {
    max-height: 350px !important;
    margin: 20px;

}

.display-4 {
    color: black;
  
}

.form-control2 {
    height: 100px;
    width: 100%;
}

.second {
    padding: 20px;
}




::placeholder {
    text-align: inherit;
}


.footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.text-muted {

    color: white !important;
}

